@layer page.component, page.base;

@layer page.component {
  .record-table {
    border-collapse: collapse;

    & .caption {
      text-align: start;
    }

    & :is(td, th) {
      border: 1px solid black;
    }
  }

  .delete-summary {
    display: block flex;

    &::-webkit-details-marker {
      display: none;
    }
  }
}
