@layer page.component, page.base;

@layer page.component {
  .record-table {
    border-collapse: collapse;

    & .caption {
      text-align: start;
    }

    & :is(td, th) {
      border: 1px solid black;
    }
  }

  .delete-summary {
    display: block flex;

    &::-webkit-details-marker {
      display: none;
    }
  }

  #weight-chart-section {
    display: block flow;

    &:target {
      display: block flow;
    }

    @nest :is(:target) ~ & {
      display: none;
    }
  }

  #bmi-chart-section {
    display: none;

    &:target {
      display: block flow;
    }
  }

  #body-fat-percentage-chart-section {
    display: none;

    &:target {
      display: block flow;
    }
  }

  #waistline-cm-chart-section {
    display: none;

    &:target {
      display: block flow;
    }
  }
}
