{% extends "layout.html" %}

{%- block title %}編輯帳號{% endblock %}

{%- block head %}
{% endblock %}

{%- block content %}
<main>
  <section aria-labelledby="page-title">
    <h1 id="page-title">編輯帳號</h1>

    <form action="/auth/put" aria-labelledby="page-title" method="post">
      <label for="account-name">帳號名：</label>
      <input type="text" id="account-name" name="editAccountName" required value="{{ accountName }}">

      <button type="submit">送出</button>
    </form>
  </section>
</main>
{% endblock %}

{%- block script %}
{% endblock %}
