{% extends "layout.html" %}

{%- block head %}
<link rel="stylesheet" href="./static/health_record_list.css">
{% endblock %}

{%- block content %}
<main>
  <table class="record-table">
    <caption class="caption">健康記錄</caption>

    <thead>
      <tr>
        <th scope="col">日期</th>
        <th scope="col">身高（cm）</th>
        <th scope="col">體重（kg）</th>
        <th scope="col">BMI</th>
        <th scope="col">體脂率（%）</th>
        <th scope="col">腰圍（cm）</th>
        <th scope="col">資料操作</th>
      </tr>
    </thead>

    <tbody>
      {% for healthRecord in healthRecordList %}
      <tr>
        <td>{{ healthRecord.recordDate }}</td>
        <td>{{ healthRecord.height }}</td>
        <td>{{ healthRecord.weight }}</td>
        <td>{{ healthRecord.bmi }}</td>
        <td>
          {% if healthRecord.bodyFatPercentage %}
          {{ healthRecord.bodyFatPercentage }}%
          {% endif %}
        </td>
        <td>
          {% if healthRecord.waistlineCm %}
          {{ healthRecord.waistlineCm }}
          {% endif %}
        </td>
        <td>
          <a href="/health_record/form/{{ healthRecord['recordId'] }}/put">編輯</a>
          <form action="/health_record/{{ healthRecord['recordId'] }}/delete" method="post">
            <button type="submit">刪除</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
