{% extends "layout.html" %}

{%- block title %}新增記錄{% endblock %}

{%- block head %}
{% endblock %}

{%- block content %}
<main>
  <section aria-labelledby="base-title">
    <h1 id="base-title">新增記錄</h1>

    <form action="/health_record" method="post" aria-labelledby="base-title">
      <label for="record-date">日期：</label>
      <input type="date" name="postDate" id="record-date" required value="{{ currentDate }}">

      <label for="height-input">身高（cm）：</label>
      <input type="number" name="postHeight" id="height-input" required value="{{ height }}">

      <label for="weight-input">體重（kg）：</label>
      <input type="number" name="postWeight" id="weight-input" required>

      <label for="body-fat-percentage">體脂率（%）：選填</label>
      <input type="number" name="postBodyFatPercentage" id="body-fat-percentage">

      <label for="waistline-cm">腰圍（cm）：選填</label>
      <input type="number" name="postWaistlineCm" id="waistline-cm">

      <button type="submit">送出</button>
    </form>
  </section>
</main>
{% endblock %}

{%- block script %}
{% endblock %}
