{% extends "layout.html" %}

{%- block content %}
<nav>
  <ul>
    <li>
      <a href="/auth/sign_up">sign_up</a>
    </li>
    <li>
      <a href="/auth/sign_in">sign_in</a>
    </li>
    <li>
      <a href="/auth/password/edit">change password</a>
    </li>
    <li>
      <a href="/profile">profile</a>
    </li>
    <li>
      <a href="/profile/create">create profile form</a>
    </li>
    <li>
      <a href="/health_record">health record</a>
    </li>
    <li>
      <a href="/health_record/form">create health record</a>
    </li>
  </ul>

  <form action="/auth/sign_out" method="post">
    <button type="submit">
      sign_out
    </button>
  </form>
</nav>
{% endblock %}
